{% extends "layout.html" %}

{% block main %}

<style>
    main
    {
        text-align: center;
    }
    form
    {
        padding-left: 20%;
        margin-left: 10%;
        padding-right: 20%;
        margin-right: 10%;
    }
    @media only screen and (max-width:570px) {
      form
      {
          padding:0%;
          margin:0%;
      }
    }
</style>
<form action="/login" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" id = "user" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit"> Log In</button>
</form>

{% endblock %}
